*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif ;
}

body{
    background-color: #3066f6;   
}

.container {
    width : 80vmin;
    padding : 50px 30px;
    background-color: #fff;
    position : absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    border-radius : 10px;
    box-shadow : 0 20px 40px rgba(0, 0, 0, .15)
}